/* body>div,
body>div>div,
body>div>div>div,
body>div>div>div>div.login-form {
  height: 100%;
} */

.login-form {
  height: 100vh;
}

.text-center {
  text-align: center;
}

.addPadding {
  padding: 20px 0;
}

.userData {
  display: inline-block;
}